
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Layout/Layout_AllPage.cshtml";
}
<div class="container">
    <img src="~/Hinh/shipper.png" class="img-responsive" style="width:500px;height:400px" />

</div>

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Trangchu", "Trangchu")
</p>
