
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/Layout_AllPage.cshtml";
}

<div class="col-md-6">
    <div class="shiping-methods">
        <div class="section-title">
            <h4 class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thông tin về cửa hàng</font></font></h4>
        </div>
        <span>Địa chỉ: </span><br />
        <span>Số Điện thoại: </span><br />
        <span>Giới thiệu về cửa hàng: </span>
        <div class="caption">
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Lorem ipsum dolor ngồi amet, consectetur adipisicing elit, sed làm eiusmod thời gian incididunt ut labore và dolore magna aliqua. </font><font style="vertical-align: inherit;">
                        Ut enim ad minim veniam, quis nostrud tập thể dục ullamco laboris nisi ut aliquip ex ea commodo hậu quả.
                    </font>
                </font>
            </p><p>
            </p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d692.8098375376917!2d106.71443481380422!3d10.801792812874831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shutech!5e0!3m2!1svi!2s!4v1533999299223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
