<form action="/Trangchu/Trangchu" method="post">
    <input class="input search-input" name="Search" type="text" placeholder="Tìm kiếm">
    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
</form>
